{% extends 'layout/default.jinja2' %}
{% block title %} course overview {{ course.name }} {% endblock %}
{% block content %}
    <h2>Course Overview: {{ course.name }}</h2>
    <a class="btn btn-link" href="/update/course/{{ course.courseid }}">edit course</a>
    <h2>Documents</h2>
    <table id="lessontable">
        <thead>
        <tr>
            <th>name</th>
            <th>date</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in documents %}
            <tr>
                <td>{{ doc.name }}</td>
                <td>{{ doc.date }}</td>
                <td><a href="/view/doc/{{ doc.docid }}">view pdf</a></td>
                <td><a href="/update/doc/{{ doc.docid }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>

        function deletetag(tag) {
            document.getElementById("tag-" + tag).remove();
        }

        function addtag() {
            var rowid = Math.random() + "-" + Math.random() + "-" + Math.random();

            var table = document.getElementById("tags");
            var row = table.insertRow(-1);
            row.id = 'tag-' + rowid;

            var cel1 = row.insertCell(0);
            var cel2 = row.insertCell(1);
            var cel3 = row.insertCell(2);

            cel1.innerHTML = "<input name='tags[]' multiple type='text'>";
            cel2.innerHTML = "<input name='tagvalues[]' multiple type='text'>";
            cel3.innerHTML = "<button type='button' onclick='deletetag(" + rowid + ")'>x</button>";
        }


    </script>
{% endblock %}