{% extends 'layout/default.jinja2' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="h1">Dashboard</h1>
    <div id="unedited">
        <h3>unedited files</h3>
        <table id="uneditedtable">
            {% for resource in unsorted %}
                <tr>
                    <td>{{ resource.name }} </td>
                    <td><a href="/update/res/{{ resource.resid }}">update</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <h3>courses
        <small><a href="/update/course/new" class="btn btn-sm btn-link">new course</a></small>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>view</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td><a href="/view/course/{{ course.courseid }}">view</a></td>
                <td><a href="/update/course/{{ course.courseid }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>documents
        <small><a href="/update/doc/new" class="btn btn-sm btn-link">new document</a></small>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>view</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in documents %}
            <tr>
                <td>{{ doc.name }}</td>
                <td><a href="/view/doc/{{ doc.docid }}">view</a></td>
                <td><a href="/update/doc/{{ doc.docid }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>resources</h3>
    <table class="table">
        <thead>
        <tr>
            <th>name</th>
            <th>view</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        {% for res in resources %}
            <tr>
                <td>{{ res.name }}</td>
                <td><a href="/view/res/{{ res.resid }}">view</a></td>
                <td><a href="/update/res/{{ res.resid }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block scripts %}
    <script>
        let divunedited = document.getElementById("unedited");
        if (document.getElementById("uneditedtable").innerHTML.replace(" ", "") < 1) {
            divunedited.innerHTML = "";
        }
        if (window.location.toString().endsWith("?closeAfterCompletion"))
            window.close();
    </script>
{% endblock %}