{% extends 'layout/default.jinja2' %}
{% block title %}Update {{ resource.name }}{% endblock %}
{% block content %}
    <div class="row h-100">
        <div class="col-md-6">
            <h1>{{ resource.name }}</h1>
            <form action="/update/res/{{ resource.resid }}" method="post">
                <h2>basic</h2>
                <table id="table">
                    <tr>
                        <td><label for="name">name:</label></td>
                        <td><input type="text" id="name" name="name" autocomplete="false" value="{{ resource.name }}">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="date">date:</label></td>
                        <td><input type="date" id="date" name="date" autocomplete="false" value="{{ resource.date }}">
                        </td>
                    </tr>
                </table>
                <h2>tags</h2>
                <table id="tags">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>value</th>
                        <th>remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for  tag in resource.tags %}
                        <tr id="tag-{{ tag }}">
                            <td>
                                <label>
                                    <input type="text" name="tags[]" multiple value="{{ tag }}">
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="text" name="tagvalues[]" multiple value="{{ resource.tags[tag] }}">
                                </label>
                            </td>
                            <td>
                                <button type="button" onclick="deletetag('{{ tag }}')">x</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table>
                    <tr>
                        <td>
                            <button onclick="addtag()" type="button">add tag</button>
                        </td>
                        <td>
                            <input type="submit"/>
                        </td>
                    </tr>
                </table>

            </form>
        </div>
        <div class="col-md-6 h-100">
            <embed src="/view/res/{{ resource.docid }}" width="100%" height="100%">
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>

        function deletetag(tag) {
            document.getElementById("tag-" + tag).remove();
        }

        function addtag() {
            var rowid = Math.random() + "-" + Math.random() + "-" + Math.random();

            var table = document.getElementById("tags");
            var row = table.insertRow(-1);
            row.id = 'tag-' + rowid;

            var cel1 = row.insertCell(0);
            var cel2 = row.insertCell(1);
            var cel3 = row.insertCell(2);

            cel1.innerHTML = "<input name='tags[]' multiple type='text'>";
            cel2.innerHTML = "<input name='tagvalues[]' multiple type='text'>";
            cel3.innerHTML = "<button type='button' onclick='deletetag(" + rowid + ")'>x</button>";
        }
    </script>
{% endblock %}