{% extends 'layout/default.jinja2' %}
{% block title %}Edit Course{% endblock %}
{% block content %}
    <form id="editform" action="/update/course/{{ course.courseid }}" method="post">
        <input type="hidden" id="closeAfterCompletion" name="closeAfterCompletion" value="">
        <table>
            <tbody>
            <tr>
                <td><label for="name">course name:</label></td>
                <td><input type="text" id="name" name="name" value="{{ course.name }}"></td>
            </tr>
            </tbody>
        </table>
        <table id="tags">
            <thead>
            <tr>
                <th>name</th>
                <th>value</th>
                <th>remove</th>
            </tr>
            </thead>
            <tbody>
            {% for  tag in course.tags %}
                <tr id="tag-{{ tag }}">
                    <td>
                        <label>
                            <input type="text" name="tags[]" multiple value="{{ tag }}">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" name="tagvalues[]" multiple value="{{ course.tags[tag] }}">
                        </label>
                    </td>
                    <td>
                        <button type="button" onclick="deletetag('{{ tag }}')">x</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <table>
            <tr>
                <td>
                    <button onclick="addtag()" type="button">add tag</button>
                </td>
                <td>
                    <input type="submit"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        function deletetag(tag) {
            document.getElementById("tag-" + tag).remove();
        }

        function addtag() {
            var rowid = Math.random() + "-" + Math.random() + "-" + Math.random();

            var table = document.getElementById("tags");
            var row = table.insertRow(-1);
            row.id = 'tag-' + rowid;

            var cel1 = row.insertCell(0);
            var cel2 = row.insertCell(1);
            var cel3 = row.insertCell(2);

            cel1.innerHTML = "<input name='tags[]' multiple type='text'>";
            cel2.innerHTML = "<input name='tagvalues[]' multiple type='text'>";
            cel3.innerHTML = "<button type='button' onclick='deletetag(" + rowid + ")'>x</button>";
        }

        if (window.location.toString().endsWith("?closeAfterCompletion"))
            document.getElementById("closeAfterCompletion").setAttribute("value", "1");
    </script>
{% endblock %}