{% extends 'layout/default.jinja2' %}
{% block title %}{{ document.name }}{% endblock %}
{% block content %}
    <div class="accordion h-100" id="accordion">
        {% for resource in resources %}
            <div class="card">
                <div class="card-header" id="heading-{{ resource.resid }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button"
                                onclick="togglecollapse('collapse-{{ resource.resid }}')">
                            Resource: {{ resource.name }}
                        </button>
                    </h2>
                </div>
            </div>
            <div id="collapse-{{ resource.resid }}" class="collapse"
                 aria-labelledby="heading-{{ resource.resid }}"
                 data-parent="#accordionExample">
                <embed src="/view/res/{{ resource.resid }}" width="100%" height="100%"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function togglecollapse(targetid) {
            let target = document.getElementById(targetid);
            if (target.classList.contains("show"))
                target.className = "collapse";
            else {
                let others = document.getElementsByClassName("collapse h-50 show");
                for (let e of others) {
                    e.className = "collapse";
                }
                target.className = "collapse h-50 show";
            }
        }
    </script>
{% endblock %}