<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <title>{% block title %}page{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="container-fluid h-100">
    {% if nomenu == False %}
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="/">home</a></li>
            <li class="nav-item"><a class="nav-link" href="/upload">upload new file</a></li>
        </ul>
    {% endif %}
    {% block content %}
        default content
    {% endblock %}

</div>
</body>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
{% block scripts %}{% endblock %}
</html>